.rail-container {
  padding: 49px 160px;
  width: 1440px;
  height: 582px;
  background: #f0f1f2;
  position: relative;
  display: flex;
  margin: 60px auto;
  flex-direction: column;
}

.plus {
  height: 32px;
  left: 30%;
  position: absolute;
  top: 33%;
  width: 32px;
  margin-left: -15px;
}

.products {
  display: flex;
}

.main-product {
  display: flex;
  flex: 0.4;
  max-width: 321px;
}

.bundle {
  display: flex;
  gap: 16px;
  flex: 0.4;
}

.calculation {
  display:flex;
  gap:8px;
  flex-direction: column;
  flex: 0.2;
  margin-top: 119px;
  margin-left: 70px;
}

.price-saved {
  display: flex;
  width: 114px;
  height: 22px;
  padding: 8px;
  color:#fff;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #d80a00;
  flex-shrink: 0;
}

.top{
  display:flex;
  gap:36px;
  flex-direction: column;
}